@font-face {
    font-family: dracula;
    src: url('assets/dracula.TTF');
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --background-bright-color: #fff;
    --background-dark-color: #000;
    --border-bright-color: #fff;
    --border-dark-color: #000;
    --btn-bg-color-primary: rgb(240 21 21);
    --typography-bright-color: #fff;
    --grid-cell-width: 150px;
    --grid-cell-height: 150px;
    --button-grid-width: 130px;
    --button-grid-height: 130px;
    --typography-pieces-primary: 128px;
    --typography-heading-primary: 70px;
    --typography-heading-secondary: 55px;
    --typography-heading-tertiary: 40px;
    --typography-body-primary: 20px;
    --typography-dracula-color: rgb(240 21 21);
    --typography-dracula-font: dracula;
    --border-width: 4px;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: radial-gradient(circle, rgba(0, 0, 0, .8) 0%, rgba(76, 2, 2, 0.6) 49%, rgba(176, 18, 18, 0.4) 100%), url('./assets/bg.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
}

button {
    cursor: pointer;
}

.header-title {
    font-size: var(--typography-heading-primary);
    margin: 50px;
    font-family: var(--typography-dracula-font);
    color: var(--typography-dracula-color);
}

.field__button {
    text-align: center;
    font-size: var(--typography-pieces-primary);
    width: var(--button-grid-width);
    margin: 8px;
    padding: 0;
    line-height: 1;
}

.field__button:focus {
    border: 5px solid var(--background-dark-color);
    opacity: .2;
    background-color: var(--btn-bg-color-primary);
}

.field__button:hover {
    border: 5px solid var(--background-dark-color);
    opacity: .2;
    background-color: var(--btn-bg-color-primary);
}

.field__button {
    border: 1px solid var(--border-dark-color);
    height: var(--button-grid-height);
    opacity: 0;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, var(--grid-cell-height)); 
}

.field {
    width: var(--grid-cell-width);
    height: var(--grid-cell-height);
}

.field--1,
.field--2,
.field--4,
.field--5 {
    border-right: var(--border-width) solid var(--border-bright-color);
    border-bottom: var(--border-width) solid var(--border-bright-color);
}

.field--3,
.field--6 {
    border-bottom: var(--border-width) solid var(--border-bright-color);
}

.field--7,
.field--8 {
    border-right: var(--border-width) solid var(--border-bright-color);
}

.field__img {
    width: 90%;
    margin: 8px;
}

.status__button {
    font-size: var(--typography-body-primary);
    background: var(--btn-bg-color-primary);
    border-radius: 5px;
    color: var(--typography-bright-color);
    padding: 10px 20px;
}

.status__message {
    font-size: var(--typography-heading-tertiary);
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: var(--typography-bright-color);
}

.status {
    margin-top: 30px;
    width: calc(var(--grid-cell-width) * 3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.status__name {
    display: block;
    font-family: var(--typography-dracula-font);
    color: var(--typography-bright-color);
    margin: 15px;
    font-size: var(--typography-heading-secondary);
}

.music {
    background-color: var(--background-dark-color);
    width: 200px;
    padding: 15px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 50px;
    top: 50px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 5px 0px #1c1c1c, inset 4px 4px 15px 0px #1c1c1c, 5px 5px 15px 5px rgba(0,0,0,0.2); 
    box-shadow: 5px 5px 5px 0px #1c1c1c, inset 4px 4px 15px 0px #1c1c1c, 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
}

.music__img {
    margin-right: 30px;
}

.music__cover {
    width: 60px;
    animation: rotate 4s linear infinite;
}

.music__cover--paused {
    animation-play-state: paused;
}

.music__navigation__button {
    background: var(--btn-bg-color-primary);
    width: 50px;
    height: 30px;
    border-radius: 10px;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }