@font-face {
    font-family: dracula;
    src: url('./dracula.TTF');
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --background-bright-color: #fff;
    --background-dark-color: #000;
    --border-bright-color: #fff;
    --border-dark-color: #000;
    --btn-bg-color-primary: rgb(240 21 21);
    --typography-bright-color: #fff;
    --grid-cell-width: 150px;
    --grid-cell-height: 150px;
    --button-grid-width: 130px;
    --button-grid-height: 130px;
    --typography-pieces-primary: 128px;
    --typography-heading-primary: 70px;
    --typography-heading-secondary: 55px;
    --typography-heading-tertiary: 40px;
    --typography-body-primary: 20px;
    --typography-dracula-color: rgb(240 21 21);
    --typography-dracula-font: dracula;
    --border-width: 4px;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: radial-gradient(circle, rgba(0, 0, 0, .8) 0%, rgba(76, 2, 2, 0.6) 49%, rgba(176, 18, 18, 0.4) 100%), url('./assets/bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;

}

.header-title {
    font-size: var(--typography-heading-primary);
    margin: 50px;
    font-family: var(--typography-dracula-font);
    color: var(--typography-dracula-color);
    font-family: var(--typography-dracula-font);
}

.board__field__button {
    text-align: center;
    font-size: var(--typography-pieces-primary);
    width: var(--button-grid-width);
    margin: 8px;
    padding: 0;
    line-height: 1;
}

.board__field__button:focus {
    border: 5px solid var(--background-dark-color);
    opacity: .2;
    background-color: var(--btn-bg-color-primary);
}

.board__field__button {
    border: 1px solid var(--border-dark-color);
    cursor: pointer;
    height: var(--button-grid-height);
    opacity: 0;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, var(--grid-cell-height)); 
}

.board__field {
    width: var(--grid-cell-width);
    height: var(--grid-cell-height);
}

.board__field--1,
.board__field--2,
.board__field--4,
.board__field--5 {
    border-right: var(--border-width) solid var(--border-bright-color);
    border-bottom: var(--border-width) solid var(--border-bright-color);
}

.board__field--3,
.board__field--6 {
    border-bottom: var(--border-width) solid var(--border-bright-color);
}

.board__field--7,
.board__field--8 {
    border-right: var(--border-width) solid var(--border-bright-color);
}

.board__field_img {
    width: 90%;
    margin: 8px;
}

.status__button {
    font-size: var(--typography-body-primary);
    background: var(--btn-bg-color-primary);
    border-radius: 5px;
    color: var(--typography-bright-color);
    padding: 10px 20px;
    cursor: pointer;
}

.status__message {
    font-size: var(--typography-heading-tertiary);
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: var(--typography-bright-color);
}

.status {
    margin-top: 30px;
    width: calc(var(--grid-cell-width) * 3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.status__message__name {
    display: block;
    font-family: var(--typography-dracula-font);
    color: var(--typography-bright-color);
    margin: 15px;
    font-size: var(--typography-heading-secondary);
}